@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    /* background-color:  darkgray; */
}
.container{
    /* background-color: skyblue; */
    width: min(90% , 1112px);
    margin-inline: auto;
}
header{
    background: rgba(250, 250, 250, 0.1);
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    
}
.logo{
    list-style: none;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
}
.logo span{
    color: #ed563b;
}
.navbar{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    
}
.navigation-bar .links{
    display: flex;
    gap: 1rem;
}
.links li{
    list-style: none;
}
.links li a{
    text-decoration: none;
    color: white;
    font-size: 0.8125rem;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}
.links li a:hover{
    color: #ed563b;
}
.last-a{
    background-color: #ed563b;
    padding: 11px 17px;
    border-radius: 0.3rem;
    margin-left: 1.5rem;
}
.last-a:hover{
    background-color: transparent;
}
.burger{
    width: 25px;
    cursor: pointer;
    display: none;
}
.burger span{
    display: block;
    margin-bottom: 3px;
    height: 3px;
    color: black;
    width: 100%;
    background-color: #ed563b
}
.hero{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0,0.5))
    ,url("https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.hero .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}
.content h6{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
.content h2{
    font-size: 84px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.content h2 span{
    color: #ed563b;
}
.btn{
    color: white;
    background-color: #ed563b;
    border: none;
    font-size: 15px;
    padding: 12px 20px;
    text-transform: uppercase;
}
.section-two{
    height: 100vh;
    
}
.choose-program{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 80px;
    gap: 1.5rem;
}
.choose-program h2{
    font-size: 1.75rem;
}
.choose-program h2 span{
    color: #ed563b;
}
.choose-program p{
    max-width: 639px;
    text-align: center;
    color: #7a7a7a;
}
.boxs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.box-info{
    display: flex;
}
.box-info img{
   width: 120px;
   height: 120px;
       margin-right: 30px;
}
.box-contect{
    margin-bottom: 60px;
}
.box-contect h2{
    
    margin-bottom: 7px;
    letter-spacing: 0.25px;
    color: #232d39;
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
}
.box-contect p{
    font-size: 14px;
    line-height: 25px;
    color: #7a7a7a;
}
.box-contect a{
    text-decoration: none;
    margin-top: 7px;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    color: #ed563b;
    font-weight: 500;
}
.section-three{
    height: 26.23125rem;
    padding: 120px 0px;
    background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 89px;
    background-attachment: fixed;
}
.content-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-three h2{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}
.content-three h2 span{
    font-style: normal;
    color: #ed563b;
}
.content-three p{
    font-size: 16px;
    color: #fff;
    margin: 15px 0px 25px 0px;
    max-width:  57rem;
    font-weight: 400;
    
}

.section-four{
    height: 100vh;
}
.main-dev{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    /* margin-bottom: 140px; */
    padding-bottom: 140px;
}
.left-side{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.1875rem ;
    gap: 2rem;
}
.left-side a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 19px;
    color: #232d39;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    letter-spacing: 0.5px;
    font-weight: 600;
    transition: all 0.3s;
    padding: 25px;
}
.left-side a:hover{
    color: #ed563b;
}
.left-side a:last-child{
    background-color: #ed563b;
    color: #fff;
}
.left-side a:last-child:hover{
    opacity: 80%;
}

.right-side h2{
    font-size: 23px;
    font-weight: 700;
    color: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.right-side p{
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 28px;
}

.section-five{
    background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0px 0px 140px 0px;
}

.title-four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 20px;
    gap: 1.5rem;
    padding-top: 40px;
    padding-bottom: 20px;
}
.title-four h2{
    font-size: 1.75rem;
    color: white;
}
.title-four h2 span{
    color: #ed563b;
}
.title-four p{
    max-width: 639px;
    text-align: center;
    color: #fff;
}
.days{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 40px;
}
.days li{
    list-style: none;
    color: #fff;
}
.table{
    margin-bottom: 100px;
}
.my-table{
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    margin-bottom: 50px;
}
.my-table td{
    border: 1px solid #fff;
    padding: 30px;
    text-align: center;
}

/* mobile version */
@media (max-width : 990px){
    .burger{
        display: block;
        position: absolute;
        right:20px;
    }
    .navigation-bar{
        display: none;
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        background-color: #fff;
        padding: 20px;
        text-align: center;
        justify-content: center;
        z-index: 2;

    }
    .navigation-bar .links{
        display: block;
        gap: 2rem;
    }
    .links li{
        margin: 15px 0px;
    }
    .links li a{
        color: black;
    }
    .links li a.last-a{
        color: white;
    }
    .navigation-bar .active{
        display: block;
    }
    .content h2{
        font-size: 50px;
        text-align: center;
        max-width: 270px;
        margin-bottom: 20px;
    }
    .boxs{
        grid-template-columns: 1fr;
    }
    .box-contect{
        margin-bottom: 20px;
    }
    .section-two{
    height: 200vh;
    
    }
    .section-three{
    padding: 70px 0px;
    }
    .content-three{
        padding: 0 10px;
    }
    .section-four{
        height: 160vh;
    }
        .main-dev {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 3rem;
            /* margin-bottom: 140px; */
            padding-bottom: 140px;
        }
        .right-side img{
            width: 100%;
        }
        /* .right-side {
            margin-bottom: 50px;
        } */
    .section-five{
        height: 190vh;
        width: 100%;
    }
    .days{
        width: 20%;
    }
    .my-table{
   
    
}

        
   
}